.pattern-css-editor {
	--tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: transparent;
	--tw-ring-color: var(--wp-admin-theme-color);
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
}
.pattern-css-editor *,
.pattern-css-editor *:after,
.pattern-css-editor *:before {
	box-sizing: border-box;
	/* border: 0 solid transparent; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add more styles here specific to the editor only */
.pattern-css-editor pre,
.pattern-css-editor pre * {
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
}
.pattern-css-editor textarea,
.pattern-css-editor pre {
	@apply m-0 text-left focus:outline-none rounded-none focus:rounded-none text-sm;
	direction: ltr !important;
}
.pattern-css-editor .code-preview code {
	@apply m-0 text-left text-sm w-full bg-transparent;
	direction: ltr !important;
}
.pattern-css-editor pre .line-error::after {
	content: '';
	@apply absolute left-0 right-0 bg-red-500 text-sm h-5 bg-opacity-30;
}
.pattern-css-editor .wp-focus:focus-within {
	border-color: var(
		--wp-components-color-accent,
		var(--wp-admin-theme-color, #007cba)
	);
	box-shadow: 0 0 0 calc(1.5px - 1px)
		var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
	outline: 2px solid transparent;
}
.pattern-css-editor [data-pcss-handle] {
	@apply cursor-grab;
}
.pattern-css-editor [data-pcss-handle]:active {
	@apply cursor-grabbing;
}
.pattern-css-editor [data-pcss-resize] {
	@apply cursor-se-resize;
}
.pattern-css-editor [data-pcss-resize]:active {
	@apply cursor-grabbing;
}


@font-face {
	font-family: 'pcss-jetbrains-mono';
	src: url('./fonts/pcss-jetbrains-mono.woff2') format('woff2');
}
